[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
tld = "*"
python-whois = "*"
whois-alt = "*"

[dev-packages]
black = "*"
ipython = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
